In [31]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [32]:
col_names = [ 'Age', 'S1', 'S2', 'Risque']
# load dataset
data = pd.read_csv("dataset.csv", header=None, names=col_names)

In [33]:
data

   Age  S1  S2  Risque
0    1   0   1  Faible
1    1   1   1   Elevé
2    3   0   0  Faible
3    2   1   0   Elevé
4    2   0   1   Moyen
5    1   0   0  Faible
6    3   1   0   Moyen
7    3   1   1   Moyen
8    2   0   0  Faible
9    2   1   1   Elevé

In [34]:
data.head()

   Age  S1  S2  Risque
0    1   0   1  Faible
1    1   1   1   Elevé
2    3   0   0  Faible
3    2   1   0   Elevé
4    2   0   1   Moyen

In [35]:
#split dataset in features and target variable
feature_cols = [ 'Age', 'S1', 'S2']
X = data[feature_cols] # Features
y = data.Risque # Target variable

In [36]:
X

   Age  S1  S2
0    1   0   1
1    1   1   1
2    3   0   0
3    2   1   0
4    2   0   1
5    1   0   0
6    3   1   0
7    3   1   1
8    2   0   0
9    2   1   1

In [37]:
y

0    Faible
1     Elevé
2    Faible
3     Elevé
4     Moyen
5    Faible
6     Moyen
7     Moyen
8    Faible
9     Elevé
Name: Risque, dtype: object

In [38]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [39]:
X_train

   Age  S1  S2
4    2   0   1
0    1   0   1
3    2   1   0
1    1   1   1
7    3   1   1
8    2   0   0
5    1   0   0

In [40]:
X_test

   Age  S1  S2
2    3   0   0
9    2   1   1
6    3   1   0

In [41]:
y_train

4     Moyen
0    Faible
3     Elevé
1     Elevé
7     Moyen
8    Faible
5    Faible
Name: Risque, dtype: object

In [42]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

In [43]:
clf

DecisionTreeClassifier()

In [44]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [45]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [46]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [47]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('diabetes.png')
Image(graph.create_png())

ModuleNotFoundError: No module named 'sklearn.externals.six'